## .NET
bin/
obj/
*.user
*.suo
.vs/

## Node & Web
node_modules/
.next/
out/
dist/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
